<div class="form-container">
  <form [formGroup]="playerForm">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" required />
      <ng-container *ngIf="playerForm.controls['name'].touched">
        <span *ngIf="playerForm.controls['name'].errors">
          *Campo obrigatório
        </span>
      </ng-container>
    </div>

    <div>
      <label for="rating">Rating:</label>
      <input type="number" id="rating" formControlName="rating" required />
      <ng-container *ngIf="playerForm.controls['rating'].touched">
        <span *ngIf="playerForm.controls['rating'].errors?.['required']">
          *Campo obrigatório
        </span>
        <span *ngIf="playerForm.controls['rating'].errors?.['min']">
          *O valor mínimo é 1
        </span>
        <span *ngIf="playerForm.controls['rating'].errors?.['max']">
          *O valor máximo é 5
        </span>
      </ng-container>
    </div>

    <button
      type="button"
      (click)="addPlayer()"
      [disabled]="!playerForm.valid"
    >
      Add Player
    </button>

    <button type="submit">Submit</button>
  </form>
</div>

<app-player-list [playerList]="players"></app-player-list>
